h1 {
  color: green;
  font-weight: bolder;
  font-style: normal;
}
h2 {
  color: purple;
  font-weight: bold;
  font-style: italic;
}
p.intro {
  color black;
  font-family: italic;
  font-size-adjust: auto;
}
.myimage {
  width: 300px
}
p.projects {
  color: black;
  font-family: fantasy;
  font-size: auto;
}
.author {
  color: red;
}
p.author {
  font-size: 15px;
  font-style: italic;
}
div.intro {
  border: 9px solid green;
  margin: 20px
  float: left;
}
div.projects {
  border: 9px solid yellow;
  margin: 20px
  float: left;
}
div.author {
  border: 9px solid orange;
  margin: 20px
  float: left;
}

.portfolio {
  color: brown;
  font-style: italic;
  font-weight: bolder;
}
img {
  float: left;
  margin-right: 18px
}
